<div class="container">
   <div class="flex-container1">
       <div style="background-color: white;">
       <h3 class="head">Curriculum vitae</h3>
       <mat-list role="list">
        <mat-list-item role="listitem">pankaj Kumar</mat-list-item>
        <mat-list-item role="listitem">Contact:- 8454991618</mat-list-item>
        <mat-list-item role="listitem">Email:- pankaj.iitb123@gmail.com</mat-list-item>
        <mat-list-item role="listitem"> GitLab:- https://gitlab.com/pankaj2k</mat-list-item>
      </mat-list>
    </div>
        <div class="sec">Exprience</div>
        <div>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.name}}
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            </button>
            {{node.name}}
            </mat-tree-node>
            </mat-tree>
        </div>
        <div class="sec">Academic Details</div>
        <app-academic-details-table></app-academic-details-table>
    </div>
</div>

