.container {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 234, 234);
}

.flex-container1 {
    width: 800px;
    margin: 10px;
    font-size: 20px;
    box-shadow: 4px 4px 4px 4px white;
  }
  .head{
    text-align: center;
    padding-top: 30px;
    color: #f650fe;
  }
  .sec{
    background-color: #f650fe;
    text-align: center;
    color: white;
    
  }