<div class="flex-container">
    <mat-list>
        <mat-list-item><span style="color: #f650fe;">Email :- pankaj.nitjsr123@gmail.com, pankaj.nitjsr123@gmail.com</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span style="color: #f650fe;">Vill :- Deoghara Chandra Tola, Post :- Amarpur, Dist :- Lakhisarai, Pin No :- 811106,
                Bihar</span></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><span style="color: #f650fe;">Mobile No :- 8454991618</span></mat-list-item>
    </mat-list>
</div>