 <!-- The flexible grid (content) -->
     <!-- Header -->
     <!--
     <div class="header">
        <h1>My Website</h1>
        <p>With a <b>flexible</b> layout.</p>
     </div>
    -->


 <div class="row">
    <div class="side">
      <h2 style="color:#f650fe">About Me</h2>
      <!--<h5>Photo of me:</h5>-->
      <div class="fakeimg"><img src="./assets/img/pankaj.jpg" width="180px" height="160px"></div>
      <p style="font-family: pt sans; font-weight: 700;">I am Pankaj, Developing Responsive Website using HTML5, CSS3, FlexBox, Javascript, Angular </p>
      <h2  style="color:#f650fe">Technical Skills</h2>
      <p><span style="color: #8E44AD;" >Programming Languages:</span> C and Java</p>
      <p><span style="color: #8E44AD;" >Scripting Languages:</span> JavaScript</p>
      <p><span style="color: #8E44AD;" >Web Technologies:</span> HTML5, CSS3, FlexBox, Bootstrap, JavaScript and Angular</p>
      <p><span style="color: #8E44AD;" >Tools:</span> LATEX, GitLab, FireBase and Jira</p>
      <p><span style="color: #8E44AD;" >Operating Systems:</span> Linux, Windows</p>
      
      <div class="fakeimg"></div><br>
      
    </div>
    <div class="main">
      <h2  style="color:#f650fe">Experience</h2>
      
    
        <h3 style="color: #8E44AD;">Associate Front End Developer, Betr Consulting LLP(On-site), <span style="color: steelblue;font-weight: 700;">May 19 - Dec 19</span></h3>
        <p>Developed website using Angular, its support SCO search Engin optimization and
        configure firebase for storing form data.</p>
        <h3 style="color: #8E44AD;">Project Software Engineer, IIT Bombay (On-site) <span style="color: steelblue;font-weight: 700;">July 17 - Feb 19</span></h3>
        <p>Design, development and testing drupal 8 module and themes and Change and
            modified existing drupal module</p>
        <p>Configured various Drupal modules to achieve the desired functionality of a web
            site.</p>
        <h3 style="color: #8E44AD;">Trainee Software Engineer, Mastek PVT LTD (On-site)  <span style="color: steelblue; font-weight: 700;">July 15 - Dec 15</span></h3>
        <p>Developed Investment Details Application using Java, HTML, CSS, Bootstrap and
            javascript.</p>

        <h2  style="color:#f650fe">Academic Details</h2>
        <app-academic-details-table></app-academic-details-table>
    
    
    <!--
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    -->
    </div>
  </div>

